{% extends 'base.html.twig' %}

{% block title %}Maquette index{% endblock %}

{% block body %}
    <h1>Maquette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Url</th>
                <th>ImagePreview</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maquette in maquettes %}
            <tr>
                <td>{{ maquette.id }}</td>
                <td>{{ maquette.title }}</td>
                <td>{{ maquette.description }}</td>
                <td>{{ maquette.url }}</td>
                <td>{{ maquette.imagePreview ? maquette.imagePreview|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_maquette_show', {'id': maquette.id}) }}">show</a>
                    <a href="{{ path('app_maquette_edit', {'id': maquette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_maquette_new') }}">Create new</a>
{% endblock %}
